@fontface {
    font-family: comfortaa;
    src: url(comfortaa.ttf);
}



body{
    margin: 0px 0px 0px 0px;
    right: 0;
}

.title{
    background-color: rgb(39, 56, 86);
    background-image: linear-gradient(90deg, rgb(52, 91, 158), rgb(92, 28, 90));
    color: whitesmoke;
    overflow: auto;
    padding-left: 2%;
    position: fixed;
    height: 6vw;
    top: 0;
    width: 100%;
    z-index: 2;
    /*box-shadow: rgb(28, 40, 61) 0px 1vw;*/
}

.whitespace{
    background-color:rgb(31, 31, 31);
    height: 100%;
    color: white;
}

/*navigation{
    background-color: rgb(158, 0, 145);
    padding-left: 2%;
    overflow: auto;
    color: white;
    width: 30%;
}
*/
ul.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40.5vw;
    position: fixed;
    bottom: 0;
    overflow: auto;
    background-color: rgb(42, 67, 100);
    z-index: 0;
}
li a {
    display: block;
    color: rgb(240, 240, 240);
    padding-left: 2vw;
    padding-right: 6vw;
    padding-top: 1vw;
    height: 2vw;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(39, 56, 86);
    background-image: linear-gradient(90deg, rgb(20, 50, 102), rgb(92, 28, 90));
    color: rgb(255, 255, 255)
}

.wrapper{
    background-color: rgb(31, 31, 31);
    min-height: 1200px;
    overflow: auto;
    padding-left: 2%;
    color: whitesmoke;
    z-index: 1;
    width: 60%;
    right: 0;
}

h1.comfortaa{
    font-family:comfortaa; font-size:2.5vw;
}

a.comfortaa{
    font-family:comfortaa; font-size:1.1vw;
    text-align: left;
}

p.comfortaa{
    font-family:comfortaa; font-size:1.1vw;
    text-align: left;
}
